.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    margin-bottom: 50px;
}

.container {
    size: 200px;
}
  
.img-container {
    /* height: 60%; */
    overflow: hidden;
    text-align: center;
    /* background:#6CADDC; */
    margin-bottom: 15px;
    margin-right: 15px;
    size: 200px;
    cursor: grab;
}
.card > .img-container > img {
    width: 60%;

}
  
.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    
}
.card > .content > ul {
    list-style-type: none;
}
  
.card > .content > ul > li {
    margin-top: 18px;
}
  